/*Подвал*/
.b-footer{
    width: 100%; height: 70px;
    background-color: black;
    display:flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    align-items: center;
}