/*Меню*/
.b-menu{
    width:100%; height: auto;
    display:flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    align-items: center;
}